<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
@*_layout.cshtml
    Amanda Field - 200267851, Anthony Gobin - 200296437, Robert Page
    OnTheRoX
    The common layout page of the OnTheRox Website. Makes for a common nav bar accross the whole website.*@
<body id="header6">

    <div id="page-top"></div>
    <div class="outer-wrapper">
        <div class="header-wrap">
            <!--HEADER-->
            <header id="header-main">
                <div class="container">
                    <div class="navbar yamm navbar-default">
                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="logo" class="navbar-brand navbar-collapse">
                            <img src="~/Content/logo.png" alt="" />
                         </div>
                            <div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">

                                <ul class="nav navbar-nav">
                                    <li class="page-scroll">@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li class="page-scroll">@Html.ActionLink("Products", "Index", "ProductModels")</li>
                                    <li class="page-scroll">@Html.ActionLink("About", "About", "Home")</li>
                                    <li class="page-scroll">@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    <li class="page-scroll">@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
                                </ul>
                                <br />
                                @Html.Partial("_LoginPartial")
                            </div>
                        </div>
                    </div>
            </header>
        </div>
    <!--MAIN CONTENT-->
    <div class="container-fluid no-padding">
        <div class="container padding80">
            @RenderBody()
        </div>
        <hr />
    </div>

        <!--FOOTER-->
        <footer class="navbar-fixed-bottom">
            <div class="container ">
              <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                <i class="fa fa-camera-retro"></i> fa-camera-retro

                </div>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/shoppingCart")
    @RenderSection("scripts", required: false)
        </div>
</body>
</html>
